import { NextPage } from "next";
import * as S from "./styled";

interface Props {}

const {{pascalCase name}}: NextPage<Props> = () => (
  <S.Wrapper>
    <h1>{{pascalCase name}}</h1>
  </S.Wrapper>
);

export default {{pascalCase name}};
